@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg {
  @apply relative;
}

#card-1,
#card-2 {
  animation: fadeEffect 400ms ease-in-out;
}

.rating-item.active {
  @apply bg-orange text-whiteish;
}

/* Buttons */
.button {
  @apply px-6 py-3 flex justify-center items-center rounded-[32px] uppercase tracking-wider font-medium;
  @apply transition-colors duration-[400ms] ease-in-out;
}

.button-primary {
  @apply button;
  @apply bg-orange text-whiteish;
  @apply hover:bg-whiteish hover:text-orange;
}
